---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=hello
    headers:
      Authorization:
      - OAuth oauth_consumer_key="9RGaUGXRljxy4vIFf4NysUrta", oauth_nonce="4d8ff65b7c25fffcba46555456442059",
        oauth_signature="hcsISAJjA%2BVFTqUv6otnNUqLBdM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1644258722", oauth_token="77046618-wZQoxHvAkv3F0CLhUP9Y78UpooTdySfbmGX56eSiW",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 07 Feb 2022 18:32:03 GMT
      X-Transaction:
      - 3b4c2753b2f32302
      X-Access-Level:
      - read-write
      Content-Disposition:
      - attachment; filename=json.json
      X-Twitter-Response-Tags:
      - BouncerCompliant
      X-Response-Time:
      - '228'
      X-Connection-Hash:
      - 6ad6b84a345b412260383e8c555306aa296f95061913774a1b7bbb6eb7a19bf2
    body:
      encoding: UTF-8
      string: '{"created_at":"Mon Feb 07 18:32:03 +0000 2022","id":1490755249501523970,"id_str":"1490755249501523970","text":"hello","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"http:\/\/twdeckapp.com\" rel=\"nofollow\"\u003eTwDeck Android\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":77046618,"id_str":"77046618","name":"Lary
        para os \u00edntimos","screen_name":"cavalodocao","location":"Localiza ai
        bb","description":"O perfil mais aleat\u00f3rio que voc\u00ea vai encontrar
        nesse site.\n\nMETAMORFOSE AMBULANTE!\n\nN\u00e3o me siga estou perdida\n\nVers\u00e3o
        3.1.1","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":326,"friends_count":163,"listed_count":1,"created_at":"Thu
        Sep 24 21:27:56 +0000 2009","favourites_count":569,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":21772,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1310149070\/avatar_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1310149070\/avatar_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/77046618\/1528313479","profile_link_color":"ABB8C2","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"}'
  recorded_at: Mon, 07 Feb 2022 18:32:03 GMT
recorded_with: VCR 6.0.0
