---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=6f050326525e40f659575e0adfc5230f&lang=pt_br&lat=-10.2450998&lon=-48.3513141&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"coord":{"lon":-48.3513,"lat":-10.2451},"weather":[{"id":211,"main":"Thunderstorm","description":"trovoadas","icon":"11n"}],"base":"stations","main":{"temp":25.92,"feels_like":26.6,"temp_min":25.92,"temp_max":25.92,"pressure":1010,"humidity":78},"visibility":10000,"wind":{"speed":3.09,"deg":110},"clouds":{"all":40},"dt":1644366980,"sys":{"type":1,"id":8419,"country":"BR","sunrise":1644311583,"sunset":1644356532},"timezone":-10800,"id":3474574,"name":"Palmas","cod":200}'
  recorded_at: Wed, 09 Feb 2022 00:36:21 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/forecast?appid=6f050326525e40f659575e0adfc5230f&lang=pt_br&lat=-10.2450998&lon=-48.3513141&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"cod":"200","message":0,"cnt":40,"list":[{"dt":1644375600,"main":{"temp":25.02,"feels_like":25.74,"temp_min":23.21,"temp_max":25.02,"pressure":1010,"sea_level":1010,"grnd_level":983,"humidity":83,"temp_kf":1.81},"weather":[{"id":500,"main":"Rain","description":"chuva
        leve","icon":"10n"}],"clouds":{"all":60},"wind":{"speed":0.39,"deg":104,"gust":0.65},"visibility":10000,"pop":0.57,"rain":{"3h":0.6},"sys":{"pod":"n"},"dt_txt":"2022-02-09
        03:00:00"},{"dt":1644386400,"main":{"temp":23.79,"feels_like":24.5,"temp_min":22.72,"temp_max":23.79,"pressure":1009,"sea_level":1009,"grnd_level":982,"humidity":87,"temp_kf":1.07},"weather":[{"id":803,"main":"Clouds","description":"nublado","icon":"04n"}],"clouds":{"all":79},"wind":{"speed":0.62,"deg":84,"gust":0.67},"visibility":10000,"pop":0.47,"sys":{"pod":"n"},"dt_txt":"2022-02-09
        06:00:00"},{"dt":1644397200,"main":{"temp":21.96,"feels_like":22.67,"temp_min":21.9[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=A+temperatura+%C3%A9+de+25.92%C2%B0C+e+trovoadas+em+Palmas+em+08%2F02.+M%C3%A9dia+para+os+pr%C3%B3ximos+dias%3A+26.12%C2%B0C+em+09%2F02%2C+24.72%C2%B0C+em+10%2F02%2C+24.1%C2%B0C+em+11%2F02%2C+21.69%C2%B0C+em+12%2F02%2C+23.08%C2%B0C+em+13%2F02%2C+22.63%C2%B0C+em+14%2F02
    headers:
      Authorization:
      - OAuth oauth_consumer_key="9RGaUGXRljxy4vIFf4NysUrta", oauth_nonce="6be9f4238adc6a2f316cfee920204bb1",
        oauth_signature="vhxuWzmab7UTEDqQ%2FLHAGfLbxQ4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1644366981", oauth_token="77046618-wZQoxHvAkv3F0CLhUP9Y78UpooTdySfbmGX56eSiW",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 09 Feb 2022 00:36:22 GMT
      X-Transaction:
      - 711327fd852151c3
      X-Access-Level:
      - read-write
      Content-Disposition:
      - attachment; filename=json.json
      X-Twitter-Response-Tags:
      - BouncerCompliant
      X-Response-Time:
      - '223'
      X-Connection-Hash:
      - 32526287808cadc26c2409aa93cc4468d1ae707869e1024d364abaf754843138
    body:
      encoding: UTF-8
      string: '{"created_at":"Wed Feb 09 00:36:22 +0000 2022","id":1491209322809995268,"id_str":"1491209322809995268","text":"A
        temperatura \u00e9 de 25.92\u00b0C e trovoadas em Palmas em 08\/02. M\u00e9dia
        para os pr\u00f3ximos dias: 26.12\u00b0C em 09\/02, 24.72\u00b0C e\u2026 https:\/\/t.co\/OZOXSaDM57","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/OZOXSaDM57","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/1491209322809995268","display_url":"twitter.com\/i\/web\/status\/1\u2026","indices":[117,140]}]},"source":"\u003ca
        href=\"http:\/\/twdeckapp.com\" rel=\"nofollow\"\u003eTwDeck Android\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":77046618,"id_str":"77046618","name":"Lary
        para os \u00edntimos","screen_name":"cavalodocao","location":"Localiza ai
        bb","description":"O perfil mais aleat\u00f3rio que voc\u00ea vai encontrar
        nesse site.\n\nMETAMORFOSE AMBULANTE!\n\nN\u00e3o me siga estou perdida\n\nVers\u00e3o
        3.1.1","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":326,"friends_count":163,"listed_count":1,"created_at":"Thu
        Sep 24 21:27:56 +0000 2009","favourites_count":569,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":21776,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1310149070\/avatar_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1310149070\/avatar_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/77046618\/1528313479","profile_link_color":"ABB8C2","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none","withheld_in_countries":[]},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"pt"}'
  recorded_at: Wed, 09 Feb 2022 00:36:22 GMT
recorded_with: VCR 6.0.0
